body { font-family: Arial, sans-serif; 
       font-size: 10pt;  line-height: 100%; }

td { text-align: center; }

h1 { text-align: center; }
h2 { text-align: center; }

table { empty-cells: show; 
        width: 100%; 
        font-size: inherit; }

tbody { border: solid 2px; }
thead { border-bottom: solid 2px; background-color: #f0f0f0; }

tr.year2, tr.year4 { background-color: #eee; }

td.afr, td.eng { width: 10%; }

td.afrhigh0, td.enghigh0, td.bothigh0 { background-color: #8dd3c7; }
td.afrhigh1, td.enghigh1, td.bothigh1 { background-color: #ffffb3; }
td.afrhigh2, td.enghigh2, td.bothigh2 { background-color: #bebada; }
td.afrhigh3, td.enghigh3, td.bothigh3 { background-color: #fb8072; }
td.afrhigh4, td.enghigh4, td.bothigh4 { background-color: #80b1d3; }
td.afrhigh5, td.enghigh5, td.bothigh5 { background-color: #fdb462; }
td.afrhigh6, td.enghigh6, td.bothigh6 { background-color: #b3de69; }
td.afrhigh7, td.enghigh7, td.bothigh7 { background-color: #fccde5; }
td.afrhigh8, td.enghigh8, td.bothigh8 { background-color: #d9d9d9; }
td.afrhigh9, td.enghigh9, td.bothigh9 { background-color: #bc80bd; }
					
/*td.both, td.afr, td.eng, td.lect { border: solid 1px; }*/
td.eng, td.lect { border-left: solid 1px; }

div.venue { font-size: 70%; }

colgroup.day { border: solid 2px; }

table.year { 
   cellspacing: 0;
   cellpadding: 0;
   border: solid 3px; 
   border-spacing: 0px 0px;
   border-collapse: collapse; 
   page-break-after: always; }
